<div class="row">
	<div id="actionBar">
		<div class="container">
			<a ui-sref="books">Back</a>
		</div>
		
	</div>

	<section class="bookEntry">
		<div class="container">
			<div class="title">
				<h1>Lorem ipsum</h1>
			</div>
			<div class="subtitle">
				<h2>By Mr. Lorem Ipsum</h2>
			</div>

			<div class="">
				<p>Some text</p>
			</div>

			<div class="categories">
				<ul>
					<!-- <li ng-repeat="book.ca"></li> -->
				</ul>
			</div>
		</div>
	</section>

	<section class="container">
		<b>Introduction</b>
		<h3>Nula lorem ipsumis</h3>
		<p>Content goes here</p>
	</section>


{{bookEntry}}
</div>