<div class="row">
  <div class="col-md-4 form-inline">

    <div class="form-group">
       <label for="exampleInputName2">Find me the best</label>
       <select class="form-control">
         <option>Fiction</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
       </select>
     </div>

  </div>
  <div class="col-md-4 form-inline">

    <div class="form-group">
       <label for="exampleInputName2">books about</label>
       <select class="form-control">
         <option>Adventure</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
       </select>
     </div>

 </div>
  <div class="col-md-4">
    <div class="col-xs-12 col-sm-4 form-item">
      <input class="input" type="text" ng-model="query.keyword" class="form-control" id="search" placeholder="Search books" ng-model-options="{ debounce: 500 }">
    </div>
  </div>
</div>

<div class="row">

<!-- Books repeat -->
  <li class="col-md-4 book" dir-paginate="book in books | itemsPerPage: 10" total-items="totalBooks" current-page="pagination.current">
    <!-- Image -->
    <a ui-sref="book({bookId: book._id})">
      <div class="img">
        <img ng-src="{{book._source.cover}}" alt="">
      </div>
    </a>

    <!-- title -->
    <a href="">
      <div class="title">
        {{book._source.name}}.        
      </div>
    </a>

    <!-- Author -->
    <a href="">
      <div class="title">
        By {{book._source.author.name}}.        
      </div>
    </a>

    <div class="likes pull-left">
      <span class="glyphicon glyphicon-heart"></span> {{book._source.likes}}
    </div>

    <div class="time pull-right">
      {{book._source.published | relativeDate}}
    </div>
  </li>
</div>


<h1 data-ng-hide="books || books.length">No Books Found</h1> 
    
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/views/includes/pagination.tpl.html"></dir-pagination-controls>