<div class="row">
  <div class="col-md-4 form-inline">

    <div class="form-group">
       <label for="exampleInputName2">Find me the best</label>
       <select class="form-control">
         <option>Fiction</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
       </select>
     </div>

  </div>
  <div class="col-md-4 form-inline">

    <div class="form-group">
       <label for="exampleInputName2">books about</label>
       <select class="form-control">
         <option>Adventure</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
       </select>
     </div>

 </div>
  <div class="col-md-4">
    <input type="email" class="form-control" id="search" placeholder="Search books">
  </div>
</div>

<!-- Books repeat -->